@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Awards>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

<section class="resume-section p-3" id="awards">
    <div class="row">

        <div class="col-md-12 p-0">
            <div class="bannerHeadImg" style="background: url(../images/awardsImage.jpg) center center no-repeat;"></div>
            <h2 class="awardsHeadline mb-5 overlay.second">@Umbraco.Field("headline")</h2>
        </div>

        <div class="col-md-12 m-0 p-0">
            @{
                var Awards = Model.Content.Children<Award>();

                <div class="row">
                    @foreach (var award in Awards)
                    {
                        <div class="col-md-6 box">
                            <h2>@award.Headline</h2>
                            <p>@award.BodyText</p>
                            <img id="boxImg" src="@award.AwardsImage.Url" class="img-fluid"/>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</section>