@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Awards>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

<section class="resume-section p-3 d-flex" id="awards">
    <div class="my-auto">

        <div id="bgImg" class="col-md-12">
            <div id="awardsBG" style="background: url(../images/awardsImage.jpg) center center no-repeat;"></div>
            <h2 id="awardsHeadline" class="mb-5 overlay">@Umbraco.Field("headline")</h2>
        </div>

        <div class="col-md-12 row" id="awardsDiv">

            @{
                var Awards = Model.Content.Children<Award>();

                <div class="row">
                    @foreach (var award in Awards)
                    {
                        <div class="col-md-6 box">
                            <h2>@award.Headline</h2>
                            <p>@award.BodyText</p>
                            <img id="boxImg" src="@award.AwardsImage.Url" class="img-fluid"/>
                        </div>
                    }
                </div>
            }

        </div>
    </div>
</section>