@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Info>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

<style>
    #infoText {
        max-width: 50%;
        text-align: left;
    }

    #map {
        text-align: center;
    }
</style>

<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="info">
    <div class="my-auto">
        <h2 class="mb-4">@Model.Content.Headline</h2>
        <p id="infoText">            
            @Model.Content.BodyText
        </p>
    </div>

    <div id="infoButtons" class="col-md-12">
        <a id="restaurantBtn" class="btn btn-success btn-lg" href="https://www.google.com/maps/embed/v1/place?key=AIzaSyA345WLtmKMoeB6v6lNS9ex_dLbKK7x3Ak&q=restaurants,Odense+DK">Restaurants</a>
        <a id="barsBtn" class="btn btn-success btn-lg" href="https://www.google.com/maps/embed/v1/place?key=AIzaSyA345WLtmKMoeB6v6lNS9ex_dLbKK7x3Ak&q=bars,Odense+DK">Bars</a>
        <a id="dokBtn" class="btn btn-success btn-lg" href="https://www.google.com/maps/embed/v1/place?key=AIzaSyA345WLtmKMoeB6v6lNS9ex_dLbKK7x3Ak&q=DOC5000,Odense+DK">DOK5000 </a>
        <button type="button" onclick="document.getElementById('map').src='https://www.google.com/maps/embed/v1/place?key=AIzaSyA345WLtmKMoeB6v6lNS9ex_dLbKK7x3Ak&q=restaurants,Odense+DK'">Restaurant</button>
    </div>

    <div class="col-md-12" id="map">
        <iframe name="infoMap"
                height="560"
                width="720"
                frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA345WLtmKMoeB6v6lNS9ex_dLbKK7x3Ak&q=DOC5000,Odense+DK" allowfullscreen></iframe>
    </div>
</section>