@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Speakers>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="speakers">
    <div class="my-auto">
        <h2 class="mb-5">Speakers</h2>
        <p>Speakers page example</p>
    </div>
</section>