@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Workshops>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="polls">
    <div class="my-auto">
        <h2 class="mb-5">Workshop</h2>
        <p>Polls page example</p>
    </div>
</section>