@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Workshops>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
}

<section class="resume-section p-3" id="workshop">
    <div class="row">

        <div class="col-md-12 p-0">
            <div class="bannerHeadImg" style="background: url(../images/awardsImage.jpg) center center no-repeat;"></div>
            <h2 class="awardsHeadline mb-5 overlay-second">@Umbraco.Field("headline")</h2>
        </div>

        <div class="col-md-12 m-0 p-0">
            @{
                var workshops = Model.Content.Children<Workshop>();

                <div class="row">
                    @foreach (var workshop in workshops)
                    {
                        <div class="col-md-6 box">
                            <h2>@workshop.Headline</h2>
                            <p>@workshop.BodyText</p>
                            <a href="@workshop.Url">More details / Apply</a>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</section>