@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Workshop>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

@Html.Partial("Breadcrumb")

<section class="resume-section p-3 d-flex" id="workshop">
    <div class="my-auto">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h2>@Umbraco.Field("headline")</h2>
                @Umbraco.Field("bodyText")
            </div>
        </div>
    </div>
</section>