<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[<!ELEMENT subpage ANY>
<!ATTLIST subpage id ID #REQUIRED>
<!ELEMENT homepage ANY>
<!ATTLIST homepage id ID #REQUIRED>
]>
<root id="-1">
  <homepage id="1065" key="37a482e9-54fc-40e6-b251-700319c51d10" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-11-01T11:01:18" updateDate="2017-11-01T11:15:38" nodeName="Homepage" urlName="homepage" path="-1,1065" isDoc="" nodeType="1063" creatorName="Alexander Nielsen" writerName="Alexander Nielsen" writerID="0" template="1062" nodeTypeAlias="homepage">
    <pageTitle><![CDATA[Codegarden]]></pageTitle>
    <footerText><![CDATA[Codegarden @ All rights reserved]]></footerText>
    <subpage id="1073" key="e6a73504-b352-4868-a298-11b0e820c7be" parentID="1065" level="2" creatorID="0" sortOrder="2" createDate="2017-11-02T09:00:52" updateDate="2017-11-02T09:07:22" nodeName="About" urlName="about" path="-1,1065,1073" isDoc="" nodeType="1070" creatorName="Alexander Nielsen" writerName="Alexander Nielsen" writerID="0" template="0" nodeTypeAlias="subpage">
      <bodyText><![CDATA[Test About Page]]></bodyText>
      <pageTitle><![CDATA[About]]></pageTitle>
    </subpage>
  </homepage>
</root>