<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT sEO ANY>
<!ATTLIST sEO id ID #REQUIRED>
<!ELEMENT menu ANY>
<!ATTLIST menu id ID #REQUIRED>
<!ELEMENT contentPage ANY>
<!ATTLIST contentPage id ID #REQUIRED>
<!ELEMENT frontpage ANY>
<!ATTLIST frontpage id ID #REQUIRED>
<!ELEMENT schedule ANY>
<!ATTLIST schedule id ID #REQUIRED>
<!ELEMENT info ANY>
<!ATTLIST info id ID #REQUIRED>
<!ELEMENT speakers ANY>
<!ATTLIST speakers id ID #REQUIRED>
<!ELEMENT awards ANY>
<!ATTLIST awards id ID #REQUIRED>
<!ELEMENT workshops ANY>
<!ATTLIST workshops id ID #REQUIRED>
<!ELEMENT award ANY>
<!ATTLIST award id ID #REQUIRED>
<!ELEMENT speaker ANY>
<!ATTLIST speaker id ID #REQUIRED>
<!ELEMENT workshop ANY>
<!ATTLIST workshop id ID #REQUIRED>
<!ELEMENT scheduleTable ANY>
<!ATTLIST scheduleTable id ID #REQUIRED>
<!ELEMENT scheduleCard ANY>
<!ATTLIST scheduleCard id ID #REQUIRED>
]>
<root id="-1">
  <home id="1121" key="3f4af39d-d7fd-4937-81a1-2d21a884d17f" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-11-21T15:36:10" updateDate="2017-11-27T17:46:30" nodeName="Homepage" urlName="homepage" path="-1,1121" isDoc="" nodeType="1063" creatorName="Alexander Nielsen" writerName="Alexander Nielsen" writerID="0" template="1120" nodeTypeAlias="home">
    <metaTitle><![CDATA[Frontpage About Codegarden]]></metaTitle>
    <metaDescription><![CDATA[Frontpage About Codegarden]]></metaDescription>
    <headline><![CDATA[About Codegarden]]></headline>
    <countdown>2018-01-24T00:00:00</countdown>
    <bannerImage><![CDATA[{
  "focalPoint": {
    "left": 0.49915682967959529,
    "top": 0.5
  },
  "src": "/media/1001/wallhaven-572044.jpg",
  "crops": [
    {
      "width": 350,
      "alias": "Logo size",
      "height": 200
    },
    {
      "alias": "Icon size",
      "width": 125,
      "height": 125
    },
    {
      "alias": "Banner size",
      "width": 1920,
      "height": 500,
      "coordinates": {
        "x1": 0,
        "y1": 0.049777777777777775,
        "x2": 0,
        "y2": 0.53355555555555556
      }
    }
  ]
}]]></bannerImage>
    <websiteIcon><![CDATA[{
  "focalPoint": {
    "left": 0.52631578947368418,
    "top": 0.72807017543859653
  },
  "src": "/media/1003/apple-touch-icon-114x114.png",
  "crops": [
    {
      "width": 350,
      "alias": "Logo size",
      "height": 200
    },
    {
      "alias": "Icon size",
      "width": 125,
      "height": 125,
      "coordinates": {
        "x1": 0,
        "y1": 1.13686837721616E-16,
        "x2": 1.13686837721616E-16,
        "y2": 0
      }
    },
    {
      "alias": "Banner size",
      "width": 1920,
      "height": 500
    }
  ]
}]]></websiteIcon>
    <logo><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "src": "/media/1004/social.jpg",
  "crops": [
    {
      "width": 350,
      "alias": "Logo size",
      "height": 200,
      "coordinates": {
        "x1": 0,
        "y1": 0.045045045045045043,
        "x2": 0.054054054054054057,
        "y2": 0.054054054054054057
      }
    },
    {
      "alias": "Icon size",
      "width": 125,
      "height": 125,
      "coordinates": {
        "x1": 1.1368683772161556E-16,
        "y1": 0,
        "x2": 3.9790393202565449E-15,
        "y2": 4.09272615797816E-15
      }
    },
    {
      "alias": "Banner size",
      "width": 1920,
      "height": 500
    }
  ]
}]]></logo>
    <companyName><![CDATA[Umbraco]]></companyName>
    <websiteName><![CDATA[Codegarden]]></websiteName>
    <footerText><![CDATA[Codegarden footer]]></footerText>
    <facebookLink><![CDATA[http://facebook.dk]]></facebookLink>
    <linkedinLink><![CDATA[http://linkedin.com]]></linkedinLink>
    <twitterLink><![CDATA[http://twitter.com]]></twitterLink>
    <schedule id="1122" key="bcbaf1b6-0144-4f94-8bc1-f4c1254e8001" parentID="1121" level="2" creatorID="0" sortOrder="0" createDate="2017-11-21T15:37:35" updateDate="2017-11-26T18:23:08" nodeName="Schedule" urlName="schedule" path="-1,1121,1122" isDoc="" nodeType="1107" creatorName="Alexander Nielsen" writerName="Alexander Nielsen" writerID="0" template="1106" nodeTypeAlias="schedule">
      <metaTitle><![CDATA[Schedule]]></metaTitle>
      <metaDescription><![CDATA[Schedule]]></metaDescription>
      <umbracoNaviHide>0</umbracoNaviHide>
      <menuDescription><![CDATA[Schedule]]></menuDescription>
      <menuTitle><![CDATA[Schedule]]></menuTitle>
      <headline><![CDATA[Schedule]]></headline>
      <bodyText><![CDATA[<?UMBRACO_MACRO macroAlias="ScheduleTable" />
<p> </p>]]></bodyText>
      <scheduleTable id="1149" key="fbf2237a-f644-4253-a2b1-13a32cd8f934" parentID="1122" level="3" creatorID="0" sortOrder="0" createDate="2017-11-26T18:04:59" updateDate="2017-11-27T09:57:12" nodeName="Day 1" urlName="day-1" path="-1,1121,1122,1149" isDoc="" nodeType="1138" creatorName="Alexander Nielsen" writerName="Alexander Nielsen" writerID="0" template="0" nodeTypeAlias="scheduleTable">
        <scheduleLocation><![CDATA[dok5000]]></scheduleLocation>
        <scheduleId><![CDATA[day1]]></scheduleId>
        <scheduleTitle><![CDATA[day1]]></scheduleTitle>
        <scheduleStart><![CDATA[8]]></scheduleStart>
        <scheduleEnd><![CDATA[20]]></scheduleEnd>
        <scheduleCard id="1152" key="b326d539-dd4f-4122-8caa-5014ad0d1398" parentID="1149" level="4" creatorID="0" sortOrder="0" createDate="2017-11-26T18:08:55" updateDate="2017-11-27T18:05:01" nodeName="John Doe" urlName="john-doe" path="-1,1121,1122,1149,1152" isDoc="" nodeType="1139" creatorName="Alexander Nielsen" writerName="Alexander Nielsen" writerID="0" template="1172" nodeTypeAlias="scheduleCard">
          <selectRoom><![CDATA[Entrance Room]]></selectRoom>
          <cardEnd>2017-11-26T17:30:00</cardEnd>
          <cardDescription><![CDATA[<p>This is som description of blahhh</p>]]></cardDescription>
          <cardStart>2017-11-26T15:00:00</cardStart>
          <speaker><![CDATA[John Doe]]></speaker>
        </scheduleCard>
      </scheduleTable>
      <scheduleTable id="1150" key="f1a7f4fa-0ffc-428c-b445-5e4ab87b97f1" parentID="1122" level="3" creatorID="0" sortOrder="1" createDate="2017-11-26T18:05:34" updateDate="2017-11-27T09:56:59" nodeName="Day 2" urlName="day-2" path="-1,1121,1122,1150" isDoc="" nodeType="1138" creatorName="Alexander Nielsen" writerName="Alexander Nielsen" writerID="0" template="0" nodeTypeAlias="scheduleTable">
        <scheduleLocation><![CDATA[day2]]></scheduleLocation>
        <scheduleId><![CDATA[day2]]></scheduleId>
        <scheduleTitle><![CDATA[day2]]></scheduleTitle>
        <scheduleStart><![CDATA[8]]></scheduleStart>
        <scheduleEnd><![CDATA[20]]></scheduleEnd>
        <scheduleCard id="1154" key="1f3d47ab-fed4-411e-b732-ce8441953708" parentID="1150" level="4" creatorID="0" sortOrder="0" createDate="2017-11-27T08:55:14" updateDate="2017-11-27T18:05:23" nodeName="John snow" urlName="john-snow" path="-1,1121,1122,1150,1154" isDoc="" nodeType="1139" creatorName="Alexander Nielsen" writerName="Alexander Nielsen" writerID="0" template="1172" nodeTypeAlias="scheduleCard">
          <selectRoom><![CDATA[Main Room]]></selectRoom>
          <cardEnd>2017-11-27T10:00:00</cardEnd>
          <cardDescription><![CDATA[<p>This is also a description of John Snow</p>]]></cardDescription>
          <cardStart>2017-11-27T08:00:00</cardStart>
          <speaker><![CDATA[John snow]]></speaker>
          <cardTitle><![CDATA[John snow]]></cardTitle>
        </scheduleCard>
      </scheduleTable>
      <scheduleTable id="1155" key="06305bc9-84f1-40d6-8f55-c87726045db5" parentID="1122" level="3" creatorID="0" sortOrder="2" createDate="2017-11-27T08:56:12" updateDate="2017-11-27T09:56:41" nodeName="Day 3" urlName="day-3" path="-1,1121,1122,1155" isDoc="" nodeType="1138" creatorName="Alexander Nielsen" writerName="Alexander Nielsen" writerID="0" template="0" nodeTypeAlias="scheduleTable">
        <scheduleLocation><![CDATA[Day3]]></scheduleLocation>
        <scheduleId><![CDATA[Day3]]></scheduleId>
        <scheduleTitle><![CDATA[Day3]]></scheduleTitle>
        <scheduleStart><![CDATA[8]]></scheduleStart>
        <scheduleEnd><![CDATA[20]]></scheduleEnd>
        <scheduleCard id="1156" key="a02c7433-35eb-4cbb-941d-07444083f111" parentID="1155" level="4" creatorID="0" sortOrder="0" createDate="2017-11-27T08:57:01" updateDate="2017-11-27T18:05:57" nodeName="Hey Oliver" urlName="hey-oliver" path="-1,1121,1122,1155,1156" isDoc="" nodeType="1139" creatorName="Alexander Nielsen" writerName="Alexander Nielsen" writerID="0" template="1172" nodeTypeAlias="scheduleCard">
          <selectRoom><![CDATA[The Starship]]></selectRoom>
          <cardEnd>2017-11-27T11:47:00</cardEnd>
          <cardDescription><![CDATA[<p>Oliver is a creat speaker, and has come around the world.</p>]]></cardDescription>
          <cardStart>2017-11-27T09:30:00</cardStart>
          <speaker><![CDATA[Sir Oliver]]></speaker>
          <cardTitle><![CDATA[Sir Oliver]]></cardTitle>
        </scheduleCard>
      </scheduleTable>
    </schedule>
    <info id="1123" key="962b4b5b-70f4-4951-9e1c-3dcba1aa74fc" parentID="1121" level="2" creatorID="0" sortOrder="1" createDate="2017-11-21T15:38:25" updateDate="2017-11-21T15:38:25" nodeName="Info" urlName="info" path="-1,1121,1123" isDoc="" nodeType="1109" creatorName="Alexander Nielsen" writerName="Alexander Nielsen" writerID="0" template="1108" nodeTypeAlias="info">
      <metaTitle><![CDATA[Info]]></metaTitle>
      <metaDescription><![CDATA[Info]]></metaDescription>
      <umbracoNaviHide>0</umbracoNaviHide>
      <menuDescription><![CDATA[Info]]></menuDescription>
      <menuTitle><![CDATA[Info]]></menuTitle>
      <headline><![CDATA[Info]]></headline>
      <bodyText><![CDATA[<p>Info</p>]]></bodyText>
    </info>
    <speakers id="1124" key="dd4e3a60-a213-422a-97e7-d28173a2832b" parentID="1121" level="2" creatorID="0" sortOrder="2" createDate="2017-11-21T15:38:41" updateDate="2017-11-21T15:38:41" nodeName="Speakers" urlName="speakers" path="-1,1121,1124" isDoc="" nodeType="1111" creatorName="Alexander Nielsen" writerName="Alexander Nielsen" writerID="0" template="1110" nodeTypeAlias="speakers">
      <metaTitle><![CDATA[Speakers]]></metaTitle>
      <metaDescription><![CDATA[Speakers]]></metaDescription>
      <umbracoNaviHide>0</umbracoNaviHide>
      <menuDescription><![CDATA[Speakers]]></menuDescription>
      <menuTitle><![CDATA[Speakers]]></menuTitle>
      <headline><![CDATA[Speakers]]></headline>
      <bodyText><![CDATA[<p>Speakers</p>]]></bodyText>
    </speakers>
    <workshops id="1125" key="ed5a14dc-a30a-4f10-a61a-6127a90d4c06" parentID="1121" level="2" creatorID="0" sortOrder="3" createDate="2017-11-21T15:39:04" updateDate="2017-11-21T16:32:53" nodeName="Workshops" urlName="workshops" path="-1,1121,1125" isDoc="" nodeType="1116" creatorName="Alexander Nielsen" writerName="Alexander Nielsen" writerID="0" template="1115" nodeTypeAlias="workshops">
      <metaTitle><![CDATA[Workshops]]></metaTitle>
      <metaDescription><![CDATA[Workshops]]></metaDescription>
      <umbracoNaviHide>0</umbracoNaviHide>
      <menuDescription><![CDATA[Workshops]]></menuDescription>
      <menuTitle><![CDATA[Workshops]]></menuTitle>
      <headline><![CDATA[Workshops]]></headline>
      <bodyText><![CDATA[<p>Workshops</p>]]></bodyText>
    </workshops>
    <awards id="1126" key="b5b5c8c0-e210-49ba-b113-867821ee2e63" parentID="1121" level="2" creatorID="0" sortOrder="4" createDate="2017-11-21T15:39:23" updateDate="2017-11-21T15:39:23" nodeName="Awards" urlName="awards" path="-1,1121,1126" isDoc="" nodeType="1114" creatorName="Alexander Nielsen" writerName="Alexander Nielsen" writerID="0" template="1113" nodeTypeAlias="awards">
      <metaTitle><![CDATA[Awards]]></metaTitle>
      <metaDescription><![CDATA[Awards]]></metaDescription>
      <umbracoNaviHide>0</umbracoNaviHide>
      <menuDescription><![CDATA[Awards]]></menuDescription>
      <menuTitle><![CDATA[Awards]]></menuTitle>
      <headline><![CDATA[Awards]]></headline>
      <bodyText><![CDATA[<p>Awards</p>]]></bodyText>
    </awards>
  </home>
</root>